<section>
  <h1 class="fw-medium fs-1">Главная</h1>
  <div class="filter my-4 d-flex gap-4 align-items-center">
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="today"
        value="today"
        checked
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="today">Сегодня</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="week"
        value="week"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="week">Неделя</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="month"
        value="month"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="month">Месяц</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="year"
        value="year"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="year">Год</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="all"
        value="all"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="all">Все</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="interval"
        value="interval"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="interval">Интервал</label>
    </div>
    <div class="filter-item">
      <strong>c</strong>
      <input
        type="text"
        class="text-secondary ms-3 border-0"
        id="dateFrom"
        readonly="readonly"
        disabled
        placeholder="Дата"
      />
    </div>
    <div class="filter-item">
      <strong>по</strong>
      <input
        type="text"
        class="text-secondary ms-3 border-0"
        id="dateTo"
        readonly="readonly"
        disabled
        placeholder="Дата"
      />
    </div>
  </div>
  <div class="charts row">
    <div
      id="chart-one"
      class="col-12 col-lg-6 text-center d-flex flex-column align-items-center border-end"
    >
      <h2>Доходы</h2>
      <canvas class="mt-3" id="left-chart"></canvas>
    </div>
    <div
      class="col-12 col-lg-6 text-center d-flex flex-column align-items-center"
    >
      <h2>Расходы</h2>
      <canvas class="mt-3" id="right-chart"></canvas>
    </div>
  </div>
</section>
