<section>
  <h1 class="fw-medium fs-1 mb-4">Доходы и расходы</h1>
  <div class="control-button d-flex flex-column flex-sm-row gap-1 my-3">
    <a href="/income-and-expenses/add?income" class="btn btn-success"
      >Создать доход</a
    >
    <a href="/income-and-expenses/add?expense" class="btn btn-danger"
      >Создать расход</a
    >
  </div>
  <div class="filter my-4 d-flex gap-4 align-items-center">
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="today"
        value="today"
        checked
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="today">Сегодня</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="week"
        value="week"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="week">Неделя</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="month"
        value="month"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="month">Месяц</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="year"
        value="year"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="year">Год</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="all"
        value="all"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="all">Все</label>
    </div>
    <div class="filter-item">
      <input
        type="radio"
        class="btn-check"
        name="filter"
        id="interval"
        value="interval"
        autocomplete="off"
      />
      <label class="btn btn-outline-secondary" for="interval">Интервал</label>
    </div>
    <div class="filter-item">
      <strong>c</strong>
      <input
        type="text"
        class="text-secondary ms-3 border-0"
        id="dateFrom"
        readonly="readonly"
        disabled
        placeholder="Дата"
      />
    </div>
    <div class="filter-item">
      <strong>по</strong>
      <input
        type="text"
        class="text-secondary ms-3 border-0"
        id="dateTo"
        readonly="readonly"
        disabled
        placeholder="Дата"
      />
    </div>
  </div>
  <div class="table-responsive mt-3">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col" width="120">№ операции</th>
          <th scope="col">Тип</th>
          <th scope="col">Категория</th>
          <th scope="col">Сумма</th>
          <th scope="col">Дата</th>
          <th scope="col">Комментарий</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="table-content"></tbody>
    </table>
  </div>
</section>
