<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-body text-center">
        <div class="modal-text fs-5 mb-3">
          Вы действительно хотите удалить категорию?
        </div>

        <div
          class="d-flex justify-content-center flex-column flex-sm-row gap-1 modal-control"
        >
          <a
            id="expense-delete"
            href="javascript:void(0)"
            class="btn btn-success"
            data-bs-dismiss="modal"
          >
            Да, удалить
          </a>
          <a
            id="expense-cancel"
            href="javascript:void(0)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Не удалять
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
